/*======= Google Fonts =====*/
/* Montserrat & Lato */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:wght@400;500;600&display=swap');

/*======= Reset ======*/
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*====== Variables =====*/
:root {
    --bodyFont: 'Lato', sans-serif;
    --brandFont: 'Montserrat', sans-serif;

    /*Font Weights*/
    --fontRegular: 400;
    --fontMedium: 500;
    --fontSemiBold: 600;
    --fontBold: 700;

    /*Font Sizes*/
    --logoSize: 36px;
    --normalSize: 16px;

    /*Colors*/
    --primary: hsl(265, 57%, 68%);
}

/*====== Global ======*/
html,
body {
    height: 100%;
}

body {
    font-family: var(--bodyFont);
    background: #000;
}

/*===== SECTIONS =====*/

/*===== Header =====*/
.header {
    width: 100%;
    height: 10rem;
    padding-top: 24px;
    padding-bottom: 12px;
    position: relative;
}

.header__nav {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: flex-end;
}

.nav {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 36px;
    position: relative;
    text-align: center;
}

.container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.5;
    filter: blur(5px);
    background: url(https://cdn.discordapp.com/attachments/976583495914770472/986741871478992966/IMG_4564.jpg) center no-repeat;
    background-size: cover;
}

.logo {
    font-family: var(--brandFont);
    font-weight: var(--fontRegular);
    font-size: var(--logoSize);
    line-height: 1;
    display: inline-block;
    color: #fff;
    z-index: 2;
    letter-spacing: 10px;
    position: relative;
    /* Bright things in dark environments usually cast that light, giving off a glow */
    filter: drop-shadow(0 1px 3px);
}

.logo__span {
    display: block;
    filter: drop-shadow(0 1px 3px);
}

.nav__list {
    display: flex;
    list-style: none;
    gap: 52px;
}

.list__item {
    border-radius: 10px;
    cursor: pointer;
    padding: 5px 15px;
    transition: all .4s ease-in;
}

.list__item:hover {
    background: rgba(54, 49, 49, 0.7);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}

.header__icons {
    display: flex;
    flex-flow: row nowrap;
    gap: 20px;
}

.list__link {
    text-decoration: none;
    font-family: inherit;
    font-size: var(--normalSize);
    font-weight: var(--fontMedium);
    text-transform: uppercase;
    color: #fff;
}

img {
    filter: invert(100%);
}

/*Input */
.input-group {
    width: 15rem;
    height: 1.75rem;
    position: absolute;
    right: 1rem;
    display: flex;
    outline: 2px solid #000;
    border-radius: .25rem;
    overflow: hidden;
}

.icon__holder {
    width: 2rem;
    height: 2rem;
    position: absolute;
    right: 0;
    background: #D6B9FF;
    border-left: 2px solid #000;
}

.input-group__icon {
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
}

/*
body {
    background-image: url(/assets/images/kurosakigaming.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /*height: 100vh;
}
*/

/*
header {
    display: flex;
    height: 6rem;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
*/

h2 {
    margin: 10px;
}

.stroke {
    margin-left: 20%;
    color: rgb(190, 51, 245);
    -webkit-text-stroke: 3px black;
    font-family: impact;
    font-size: 40px;
    letter-spacing: 0;

}

table {
    /*border: solid 1px rgb(156, 45, 130);*/
    text-align: center;

}

td {
    border: solid 1px rgb(141, 75, 125);
    width: 360px;
    height: 360px;
}

input[type="search"] {
    width: 100%;
    height: 100%;
    padding: 10px 12px;
    transition: all .4s; /* transición de .5seg a todos los elementos*/
    -webkit-transition: all .4s; /* transición de .5seg a todos los elementos para chrome*/
    -moz-transition: all .4s; /* transición de .5seg a todos los elementos para mozilla*/
    -o-transition: all .4s; /* transición de .5seg a todos los elementos para ophera*/
    outline: none; /* ocultar el fucos automático de los input */
    border: none;
}

input[type="search"]:focus {
    background: #FDEFFE;
}

.img-productos{
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center;
}
.clase-div{
	padding: 10px;
	display: flex;
	gap: 2rem;

}

.clase-div label{
	width: 10ch;
}

.boton{
    width: 50%;
    background: #1f53c5;
    border: none;
    padding: 12px;
    color: white;
    margin-left: 40%;
    font-size: 16px;
    
    
}

.contactos{
  background-color: white;
    width: 100%;

}
.redes{
    text-align: end;
    margin-right: 10px;
    padding: 10px;
}