/*======= Google Fonts =====*/
/* Montserrat & Lato */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:wght@400;500;600&display=swap');

/*======= Reset ======*/
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*====== Variables =====*/
:root {
    --bodyFont: 'Lato', sans-serif;
    --brandFont: 'Montserrat', sans-serif;

    /*Font Weights*/
    --fontRegular: 400;
    --fontMedium: 500;
    --fontSemiBold: 600;
    --fontBold: 700;

    /*Font Sizes*/
    --logoSize: 36px;
    --normalSize: 16px;

    /*Colors*/
    --primary: hsl(265, 57%, 68%);
    --bg-dark: hsla(231, 11%, 13%, 1);
}

/*====== Global ======*/
html,
body {
    height: 100%;
}

body {
    font-family: var(--bodyFont);
    background-color: #0f0e10;
}

/*===== SECTIONS =====*/

/*===== Header =====*/
.header {
    width: 100%;
    height: 10rem;
    padding-top: 24px;
    padding-bottom: 12px;
    position: relative;
}

.header__nav {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: flex-end;
}

.nav {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 36px;
    position: relative;
    text-align: center;
}

.container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.5;
    filter: blur(5px);
    background: url(https://cdn.discordapp.com/attachments/976583495914770472/986741871478992966/IMG_4564.jpg) center no-repeat;
    background-size: cover;
}

.logo {
    font-family: var(--brandFont);
    font-weight: var(--fontRegular);
    font-size: var(--logoSize);
    line-height: 1;
    display: inline-block;
    color: #fff;
    z-index: 2;
    letter-spacing: 10px;
    position: relative;
    /* Bright things in dark environments usually cast that light, giving off a glow */
    filter: drop-shadow(0 1px 3px);
}

.logo__span {
    display: block;
    filter: drop-shadow(0 1px 3px);
}

.nav__list {
    display: flex;
    list-style: none;
    gap: 52px;
}

.list__item {
    border-radius: 10px;
    cursor: pointer;
    padding: 5px 15px;
    transition: all .4s ease-in;
}

.list__item:hover {
    background: rgba(54, 49, 49, 0.7);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}

.header__icons {
    display: flex;
    flex-flow: row nowrap;
    gap: 20px;
}

.list__link {
    text-decoration: none;
    font-family: inherit;
    font-size: var(--normalSize);
    font-weight: var(--fontMedium);
    text-transform: uppercase;
    color: #fff;
}

.icons {
    filter: invert(100%);
}

.productCrud {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    height: 100%;
    padding: 4rem 0;
}

/* ======== Form ========== */
.form {
    grid-column: 1/2;
    justify-self: center;
    align-self: start;
    display: flex;
    flex-flow: wrap;
    width: 22rem;
    height: 676px;
    gap: 1rem;
    background: rgba(27, 28, 64, 0.37);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.5px);
    -webkit-backdrop-filter: blur(6.5px);
    padding: 2rem;
}

.form-group {
    width: 100%;
    display: flex;
    flex-basis: 100%;
    flex-flow: wrap;
    gap: .25rem;
}

.form-group__label {
    font-family: inherit;
    flex-basis: 100%;
    color: #fff;
    font-size: 18px;
}

.form-control,
.form-area,
.form__submit {
    background: rgba(47, 48, 84, 0.37);
    border: none;
    color: #fff;
    border-radius: 8px;
    outline: none;
    font-family: inherit;
}

.form-control,
.form-area {
    transition: all .4s ease;
    padding: 0 12px;
    font-size: 16px;
    width: 100%;
    height: 2.5rem;
}

.form-area {
    padding: 12px;
    height: 7rem;
}

.form-control:focus,
.form-area:focus {
    box-shadow: -2px 2px 0px 0px rgba(0, 255, 255, 0.7),
    -2px 2px 0px 0px rgba(0, 255, 255, 0.7),
    -2px 2px 0px 0px rgba(0, 255, 255, 0.7),
    -2px 2px 0px 0px rgba(0, 255, 255, 0.7);
}

.form__submit {
    margin: 0 auto;
    width: 7rem;
    height: 3rem;
    cursor: pointer;
    transition: all .4s ease;
}

.form__submit:hover,
.form__submit:focus{
    border: none;
    background-color: rgba(0, 255, 255, 0.7);
}

.form__submit:active{
    background-color: rgba(0, 255, 255, 0.2);
}

/* ========= Cards ============ */

.products{
    grid-column: 2/4;
    display: flex;
    width: 100%;
    place-self: center;
    flex-flow: wrap;
    gap: 1rem;
    padding: 0 2rem;
}

.product{
    border-radius: 50px;
    background: #0f0e10;
    box-shadow:  5px 5px 12px #0a090a,
    -5px -5px 12px #141316;
    position: relative;
    display: grid;
    grid-template-rows: repeat(5, 75px);
    width: 375px;
    height: 375px;
    overflow: hidden;
}

.product__img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    grid-row: 1/4;
}

.product__info{
    display: flex;
    flex-wrap: wrap;
    color: #fff;
    width: 100%;
    height: 100%;
    grid-row-start: 4;
    grid-row-end: -1;
    text-align: center;
}

.product__title{
    width: 100%;
    height: 75px;
    padding-top: 20px;
}

.product__price{
    width: 100%;
}

.product__btns{
    width: 100%;
    height: 100%;
    position: absolute;
    grid-row: 4/6;
    display: flex;
    justify-content: space-evenly;
    background: rgba(0,0,0,.75);
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: all .2s ease-in;
}

.btn{
    font-family: inherit;
    width: 7rem;
    height: 3rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: all .2s ease-in;
}

.btn:hover{
    filter: brightness(140%);
}

.btn:active{
    filter: brightness(80%);
}

.btn--edit{
    background: #F3D371;
}

.btn--delete{
   background: #F86B63;
}


.product:hover .product__btns{
    opacity: 1;
    visibility: visible;
}